services:

  rasa:
    container_name: rasa_server
    image: rasa/rasa:3.6.20-full
    user: "1000:1000"
    ports:
      - "5005:5005"
    volumes:
      - ./:/app
    command:
      - run
      - --enable-api
      - --cors
      - "*"
      - --debug

  actions:
    container_name: rasa_actions
    image: rasa/rasa-sdk:3.6.2
    ports:
      - "5055:5055"
    volumes:
      - ./actions:/app/actions

